/guix/current
/emacs.d/auto-save-list
/emacs.d/eln-cache
/emacs.d/elpa
/emacs.d/eshell
/emacs.d/network-security.data
/emacs.d/#init.el#
/emacs.d/projectile-bookmarks.eld
/emacs.d/transient
/emacs.d/straight

emacs.d/.#init.el
emacs.d/.org-id-locations
emacs.d/bookmarks~
emacs.d/forge-database.sqlite
emacs.d/init.el~
emacs.d/org-roam.db

